* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
}

body {
    background: #dcdcdc;
    font-size: 1em;
}

header, article, footer {
    width: 600px;
    margin: 0 auto;
}

h1 {
    font-family: "Helvetica Neue Light", "Segoe UI Light", sans-serif;
    font-size: 3em;
    margin: 50px 0;
    color: #333;
    text-shadow: 1px 1px 1px #fff;
}

#status-label {
    display: block;
    float: left;
    width: 75%;
    margin: 10px 0;
    font-style: italic;
}

#text-view {
    float: left;
    width: 70%;
    padding: 5px 10px;
}

#send-button, #stop-button {
    float: right;
    width: 20%;
    padding: 6px 10px;
}

#chat-area {
    margin: 20px 0;
    padding: 20px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 20px;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #ccc;
    box-shadow: 0px 10px 10px #ccc;
}

.clear {
    clear: both;
}